In [1]:
import nltk

In [2]:
from nltk.sentiment import SentimentIntensityAnalyzer

sia = SentimentIntensityAnalyzer()

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('youtube_comments_english.csv')

In [7]:
df['comments'][5]

'That man looking for his four children'

In [10]:
sia.polarity_scores(df['comments'][70])

{'neg': 0.119, 'neu': 0.743, 'pos': 0.139, 'compound': 0.1027}

In [9]:
res_vader = {}
for i, d in df.iterrows():
    res_vader[i] = sia.polarity_scores(d['comments'])

In [13]:
res_vader = pd.DataFrame(res_vader).T

In [18]:
res_vader.columns

Index(['neg', 'neu', 'pos', 'compound'], dtype='object')

In [16]:
df.head()

                                            comments
0  The innocent always seem to carry the heaviest...
1  I have to give it a lot of credit to the young...
2  it's so heartbreaking to watch,the father who'...
3  It is really sad and so heartbreaking to see p...
4  RIP for all Innocent,   It is really sad and s...

In [21]:
df =df.reset_index().rename(columns={'index': 'Id'})

In [22]:
res_vader = res_vader.reset_index().rename(columns={'index': 'Id'})

In [23]:
res_vader = res_vader.merge(df, how='left')

In [24]:
res_vader

,Id,neg,neu,pos,compound,comments
0,0,0.236,0.569,0.195,-0.1280,The innocent always seem to carry the heaviest...
1,1,0.238,0.705,0.056,-0.9027,I have to give it a lot of credit to the young...
2,2,0.207,0.732,0.061,-0.7358,"it's so heartbreaking to watch,the father who'..."
3,3,0.294,0.601,0.105,-0.7420,It is really sad and so heartbreaking to see p...
4,4,0.253,0.595,0.153,-0.5975,"RIP for all Innocent, It is really sad and s..."
...,...,...,...,...,...,...
4730,4730,0.439,0.561,0.000,-0.6908,What about Palestinian HAMAS kill Ezrael people?
4731,4731,0.366,0.458,0.176,-0.4404,"Palestenians attacks israel , then when israel..."
4732,4732,0.000,0.531,0.469,0.6486,"Britain, please welcome your new Palestinian r..."
4733,4733,0.189,0.811,0.000,-0.2732,"not a mention of that water, electricity, food..."
4734,4734,0.000,0.593,0.407,0.6705,Bbc love hamas and want Palestinians to move t...